[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
commons_tokenlog = "iXB6Aag51itM754YzxveHUtMPwJyVDxBXkeXQgFPbsc"
commons_abc = "2xnNJU6bK1R6WvnBUmUKxftMyVuvXXhn3Vs5hDHM3KQv"
commons_conviction_voting = "sn9bNZ3gZxyiy5zE5FGGSJGQEXeedgoSGEMRQNUiSME"
commons_hatch = "CPjQgH9wbaJsW57qB1aaHasgv6MZAgQLwF1D77WZm2Uv"
commons_rewards = "GccA6L8BUnkZVeUAdSAeoiFFCVynf6GZbBTPZfCj7tpY"
sol_commons_workspace = "GUis4rZk6zLTMSMRiy68tN8sbwRMz27VpPfBDx34BHzo"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
